html {
	overflow: auto;
	position:static;
}
body.default {
	background-color: inherit;
}
body #header h1 {
	margin-inline-start: 10px !important;
}
body.default .root{
	height: auto;
	display: block;
}
body.default #main {
	display: block;
}
body.default #content {
	overflow: initial;
}
body.default #outline {
	display: none;
}
body.default.quizActivity #content > section{
	width: 18cm;
	height:25cm;
}
button.menuBtn, button.backBtn, .hideInfo button.infoBtn, a.copyright, a.colBlockTgleBtn,
body.quiz #navigation > .btnNav{
	display: none;
}
