/* Surchagres Skin */
:root{
	--fontStyle: "Marianne";
	--fontSize: 11pt;
	--main-bg: #FFFFFF;
	--main-fg: #2c2c2c;
  --borderColor: #CBCBCB;
  --target-bg: #dbd9cf;

  --header-bg: #FFFFFF;
  --header-fg: #006978;

  --menuWidth: 300px;
	--menu-bg: #F7F7F7;
	--menu-fg: #2c2c2c;
  
	--maxWidth: 1280px;
	--section-titre-bg: #c3d3d4;
	--section-titre-fg: #006978;
	--section-content-bg: #e9e9e9;
  --important-bg: #bfd9dd;
	--important-fg: #006978;
  --link-passive: #006978;
	--link-active: #ec6607;

	--block-badge-bg: #006978;
	--block-badge-fg: #FFFFFF;
	--block-border: #bfd9dd;
	--block-title: #006978;
	--profInstruction-bg: #0c9ef1;
	--profInstruction-fg: #FFFFFF;
	--studentInstruction-bg: #ec6608;
	--studentInstruction-fg: #FFFFFF;

	--button-bg-passive: #00343c;
	--button-fg-passive: #FFFFFF;
	--button-bg-active: #ec6607;
	--button-fg-active: #FFFFFF;
	--button-bg-disabled: #A3C9CF;
	--button-fg-disabled: #FFFFFF;	
}

@media (max-width: 1880px) { /* maxWidth + 2 x menuWidth */
	body.default.showMenu #content{
		padding-inline-end: 0;
	}
}