/* Désactivation de la largeur maximale pour prendre toute l'espace disponible */
body.default #content > * {
	max-width: none !important;
	width: auto;
}

/* Augmentation de la taille de la police (proportionnellement à la taille de la fenêtre */
div#content {
	font-size: 3.8vm;
	font-size: 3.8vmin;
}

/* Désactivation du flex du main le temps de la pagination */
#main[ps-process=pending] {
	display: block !important;
}

#main[ps-process=pending] div#content {
	overflow: hidden;
	flex: 1;
}

/* Désactivation du comportement flex du contenu (déporté sur les pages) */
#main[ps-process=ended] div#content {
	flex: 0 0 auto;
	margin: auto 0 !important;
}

/* Réactivation du scroll pour les exercices et les contenus dépassant */
#main[ps-process=ended] div#content.sldScroll {
	flex: 1 1 auto;
	align-self: stretch;
}

/* Transition des slides */
#main[ps-process=ended] > ps-page {
	transition: opacity 0.5s ease-in;
}

/* Les slides sont cachés excepté la courante */
#main[ps-process=ended] > ps-page:not([ps-slideshow-current]) {
	opacity: 0;
	height: 0;
	width: 0;
	padding: 0;
	overflow: hidden;
}

/* Bug Edge 14.14393 : the page styles are not updated with only the :not() selector */
/* On rend les pages flexibles pour s'adapter à la visiblité du menu */
#main[ps-process=ended] > ps-page[ps-slideshow-current] {
	width: auto;
	height: auto;
	flex: 1;
	order: 2;
}

/* Centrage du contenu de la slide */
#main[ps-process=ended] > ps-page > ps-area {
	justify-content: center;
	align-items: center;
}

/* Règles de pagination */
div.info::backdrop, div.block::backdrop {
	--ps-break-before: page;
}
div.info, div.block {
	min-width: 50vw;
}

section::backdrop {
	--ps-break-before: page;
	--ps-margin-break: discard;
}

div.exercice::backdrop {
	--ps-break-before: page;
	--ps-break-inside: avoid-page;
}

div.quizBody::backdrop {
	--ps-break-inside: avoid-page;
}

div.exercice div.info::backdrop, div.exercice div.block::backdrop {
	--ps-break-before: auto;
}

div.openQuestion div.solution::backdrop {
	--ps-break-before: page;
}

h1::backdrop, h2::backdrop, h3::backdrop, h4::backdrop, h5::backdrop, h6::backdrop {
	--ps-break-after: avoid-page;
}

.anchor {
	display: none !important;
}
figure::backdrop, table::backdrop {
	--ps-break-inside: avoid-page;
}

.visavis::backdrop, table::backdrop {
	--ps-break-inside: -ps-avoid-if-below(30vh, 20vh);
}
/* Limitation de la hauteur des figures */
figure.image img, figure.video video {
	max-height: 20em;
	width: auto;
}

div.seek_progress {
	max-width: 40vw;
}

figure.net div.urlFrame,
figure.net iframe {
	max-height: 20em;
}

/* Ouverture forcée des blocs collapsés */
.section.collapsed {
	overflow: visible;
}

div#content .collBlk_closed {
	display: block;
}
.section_closed,
.section_open,
figcaption .collapsed .descBlock_closed,
figcaption .collapsed .descBlock_open {
	color: unset;
	pointer-events: none;
}
figcaption .collapsed .descBlock_closed::before, figcaption .collapsed .descBlock_open::before, .openQuestion .block_open::before, .openQuestion .block_closed::before {
	content: none;
	--ps-before-vals: none;
}
.section_closed::after, .section_open::after {
	content: none;
	--ps-after-vals: none;
}
.section.collapsed .section_ti, *:target {
	background-color: transparent !important;
}
.section.collapsed > .section_co {
	padding-inline-start: 0;
}

/* Les blocs des exercices sont refermés en fin de pagination */
#main[ps-process=ended] div.exercice:not(.openQuestion) .collBlk_closed {
	display: none;
}

/* Bouton information caché */
button.infoBtn {
	display: none;
}

/* Style de la page et des marges */
ps-page {
	--ps-page-margin-top: 3em;
	--ps-page-margin-right: 0.5em;
	--ps-page-margin-bottom: 3em;
	--ps-page-margin-left: 0.5em;
}
ps-page > ps-margin[ps-side=top] > ps-margin-box[ps-name=top-center]::before {
		content: var(--ps-before-val-0, "");
		--ps-before-vals: string(sectionTitle);
}
ps-page > ps-margin[ps-side=top] > ps-margin-box[ps-name=top-center] {
		color: #006978;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
}
ps-page > ps-margin[ps-side=bottom] > ps-margin-box[ps-name=bottom-right]::before {
		content: counter(page) " / " counter(pages);
		--ps-before-vals: none;
}
ps-page > ps-margin[ps-side=bottom] > ps-margin-box[ps-name=bottom-right] {
		color: #006978;
		font-size: 1em;
		font-weight: bold;
		padding-inline-end: 0.5em;
}

ps-page[ps-name=title] > ps-margin[ps-side=top] > ps-margin-box[ps-name=top-center]::before {
		content: none;
		--ps-before-vals: none;
}

ps-page[ps-name=title] > ps-margin[ps-side=bottom] > ps-margin-box[ps-name=bottom-right]::before {
		content: none;
		--ps-before-vals: none;
}

.section_ti::backdrop {
	--ps-page: title;
}

.section_ti > a:first-child::backdrop {
	--ps-string-set: sectionTitle content();
}

.quizBody > .toolbar {
	font-size: 16pt;
}
