/* === START Dys fonts ========================================================= */
@font-face {
	font-family: "OpenDyslexic-Regular";
	src: url(fonts/OpenDyslexic-Regular.otf);
}
@font-face {
	font-family: "OpenDyslexic-Bold";
	src: url(fonts/OpenDyslexic-Bold.otf);
}
@font-face {
	font-family: "OpenDyslexic-Italic";
	src: url(fonts/OpenDyslexic-Italic.otf);
}
@font-face {
	font-family: "OpenDyslexicMono-Regular";
	src: url(fonts/OpenDyslexicMono-Regular.otf);
}
@font-face {
	font-family: "OpenDyslexic-BoldItalic";
	src: url(fonts/OpenDyslexic-BoldItalic.otf);
}
/* === END Dys fonts =========================================================== */
/* === START Dys content styles ================================================ */
.dysFontActive_true {
	font-family: "OpenDyslexic-Regular";
}
.dysFontActive_true #menu ul.mnu,
.dysFontActive_true .op_txt_is_quote,
.dysFontActive_true .op_labelTxt_is_quote,
.dysFontActive_true .op_clozeTxt_is_quote {
	font-family: "OpenDyslexic-Italic";
}
.dysFontActive_true header h1{
	line-height:1em;
}
.dysFontActive_true p{
	font-size: inherit;
}
.dysFontActive_true ul#accessibility{
	font-size:6pt;
}
.dysFontActive_true #titleRoot{
	font-size:0.9em;
}
.dysAltLineColor_true .dysColor_0{
	color:#DD0000;
}
.dysAltLineColor_true .dysColor_1{
	color:#00AA00;
}
.dysAltLineColor_true .dysColor_2{
	color:#0000FF;
}
.dysMoreSpace_true #content{
	line-height:2;
	word-spacing:0.6em;
}
.dysMoreSpace_true #content p{
	line-height:2;
}
.dysMoreSpace_true.dysFontActive_true #content{
	line-height:2.3;
}
.dysMoreSpace_true.dysFontActive_true #content p{
	line-height:2.3;
}
/* === END Dys content styles ================================================== */
