/* FONT */
@font-face {
	font-family: 'fontello';
	src: url('fontello.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 400;
    src: url('Marianne-Regular.woff2') format('woff2'); 
  }

 @font-face {
    font-family: 'Marianne';
    font-style: italic;
    font-weight: 400;
    src: url('Marianne-Regular_Italic.woff2') format('woff2'); 
}

@font-face {
    font-family: 'Marianne';
    font-style: italic;
    font-weight: 700;
    src: url('Marianne-Bold_Italic.woff2') format('woff2'); 
}

@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 700;
    src: url('Marianne-Bold.woff2') format('woff2'); 
}